h1 {
  color: #00FFFF;
  font-size: 65px;
  font-weight: 400;
  font: Palatino;
  font-style: italic;
}
h2 {
  color: #F012BE;
  font-weight: lighter;
}
h3 {
  color: #F012BE;
  font-weight: lighter;
}
body {
  background-color: #01FF70;
  font-weight: normal;
  color : black;
  font-family: serif;
}
img {
  width: 30%;
  float:right;
}
.important {
  font-style: italic;
}
.sidebar {
  float: left;
  font-size: 40px;
  width: 70%
}
.text-box {
  border: 3px solid maroon;
  padding: 8px;
  margin: 20px;
}
@media screen and (min-width: 450px){
  body {
    background-color: black;
    color: white;
  }

}
