h1 {
  color: yellowgreen;
  font-size: 100px;
  font-weight: 400;
  font: Palatino;
  font-style: italic;
}
h2 {
  color: #F3A6F7;
  font-size: 70px
}
h3 {
  font-size: 30px;
  color:black;
}
p {
  font-size: 30px;
  color: white;
}
ul {
  font-size: 30px;
}
body {
  background-color: #01FF70;
  font-weight: normal;
  color : black;
  font-family: serif;
  background-image: url(image/nature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 20%;
  float:right;
  padding-bottom: 6px;
  border: 2px;
}
p a {
  color: navy;
  font-size: 30px;
  font-style: oblique;
}
.important {
  font-style: italic;
  color: hotpink;
}
.sidebar {
  font-size: 30px;
  width: 78%;
  padding: 10px;
  margin: 20px;
  background-color: pink;
}
.text-box {
  font-size: 30px;
  border: 3px solid yellow;
  padding: 8px;
  margin:10px;
  background-color: teal;
  width: 78%
}
.text-box p {
  color: black;

}
.intro p {
  color: black;
}
@media screen and (min-width: 350px) and (max-width: 700px) {
  body {
    background-color: #01FF7O;
    color: black;
  }
}
